In [1]:
import pandas as pd
import numpy as np
from sklearn import datasets as ds
from sklearn.tree import DecisionTreeClassifier, export_graphviz, plot_tree
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
iris = ds.load_iris()

In [3]:
df_iris = pd.DataFrame(data = iris['data'], columns = iris['feature_names'])

In [4]:
df_iris.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [5]:
dfT = df_iris.copy()
dfT['target'] = iris['target']

In [6]:
def set_tipo(codigo_tipo):
    if codigo_tipo == 0:
        return iris['target_names'][0]
    elif codigo_tipo == 1:
        return iris['target_names'][1]
    elif codigo_tipo == 2:
        return iris['target_names'][2]

In [7]:
dfT['target_name'] = dfT['target'].apply(set_tipo)

In [8]:
dfT.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,target_name
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

In [9]:
X = dfT[['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']]
y = dfT['target']

In [10]:
tree_kwargs = {
    'criterion': 'entropy',
    'splitter': 'best',
    'min_samples_split': 2,
}

clf = DecisionTreeClassifier(**tree_kwargs)

In [11]:
cv_score = cross_val_score(clf, X , y, cv = 10, scoring = 'accuracy')

In [12]:
cv_score

array([1.        , 0.93333333, 1.        , 0.93333333, 0.93333333,
       0.86666667, 0.93333333, 1.        , 1.        , 1.        ])

In [13]:
cv_score.mean()

0.96